<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/layout.css" />
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>
		<title>메모 관리</title>
	</head>
	<body>
		<div class="memo_wrap">
			<div class="memo_header">
				<h1>ADHD MEMO APP</h1>
			</div>
			<div class="memo_content_area">
				<div class="memo_left_side">
					<button class="memo_btn">카테고리 추가 +</button>
					<div class="memo_tree_area">
						<ul class="memo_category_select_tree">
							<li class="memo_category_select_item_list">
								<div
									class="memo_category_select_item_box"
									onclick="alert('hello');"
								>
									카테고리1
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리2
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
						</ul>
					</div>
					<!-- <button onclick="changeCategory();">카테고리 변경 버튼</button>
		            <div id="memo_list"></div> -->
				</div>
				<div class="memo_middle">
					<button class="memo_btn">메모 추가 +</button>
					<div class="memo_item">
						<div class="memo_toolbar"></div>
						<div class="memo_input" contenteditable="true"></div>
					</div>
				</div>
				<div class="memo_right_side">
					<h2>메모 검색 영역</h2>
				</div>
			</div>
			<div class="memo_footer"></div>
		</div>
	</body>
	<script>
		document.addEventListener('DOMContentLoaded', event => {
			const editableContent = document.querySelector(
				'div[contenteditable="true"]'
			);

			editableContent.addEventListener('click', () => {
				editableContent.focus();
			});
		});
	</script>
</html>
