<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/layout.css" />
		<link rel="stylesheet" href="/css/content.css" />
		<link rel="stylesheet" href="/css/button.css" />
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script type="text/javascript" src="/js/common.js"></script>
		<title>메모 관리</title>
	</head>
	<body>
		<div class="memo_wrap">
			<div class="memo_header">
				<h1>ADHD MEMO APP</h1>
			</div>
			<div class="memo_content_area">
				<div class="memo_left_side">
					<button class="memo_btn" onclick="openAddCategoryModal()">add category</button>
					<div class="memo_tree_area">
						<ul class="memo_category_select_tree">
							<li class="memo_category_select_item_list">
								<div
									class="memo_category_select_item_box"
									onclick="alert('hello');"
								>
									카테고리1
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리2
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
							<li class="memo_category_select_item_list">
								<div class="memo_category_select_item_box">
									카테고리3
								</div>
							</li>
						</ul>
					</div>
					<!-- <button onclick="changeCategory();">카테고리 변경 버튼</button>
		            <div id="memo_list"></div> -->
				</div>
				<div class="memo_middle">
					<div class="memo_action_area">
						<button class="memo_btn" onclick="openAddMemoModal()">
							add memo
						</button>
					</div>
					<div class="memo_item_area">
						<div id="memo_item_1" class="memo_item">
							<div class="memo_toolbar"></div>
							<div
								class="memo_input"
								contenteditable="true"
							></div>
						</div>
					</div>
				</div>
				<div class="memo_right_side">
					<div class="memo_search_area">
						<input
							type="text"
							class="memo_search_input"
							placeholder="검색어를 입력하세요"
						/>
						<button class="memo_search_clear_btn">x</button>
				    </div>
				</div>
			</div>
			<div class="memo_footer"></div>
		</div>
		<dialog class="memo_dialog">
			<div class="dialog_container">
				<div class="dialog_header">
					<p class="dialog_title">메모 등록</p>
				</div>
				<div class="dialog_content">
					<div class="dialog_input_area">
						<label class="dialog_input_label required" for="title">제목</label>
						<input type="text" name="title" class="dialog_input" />
						<label class="dialog_input_label required" for="category">카테고리</label>
						<select class="dialog_input">
							<option selected value="category">전체</option>
							<option value="category">카테고리1</option>
							<option value="category">카테고리2</option>
							<option value="category">카테고리3</option>
						</select>
					</div>
				</div>
				<div class="dialog_footer">
				   <button class="memo_btn cancel_btn" onclick="closeAddMemoModal()">취소</button>
				   <button class="memo_btn ok_btn" onclick="closeAddMemoModal()">확인</button>
				</div>
			</div>
		</dialog>
		<dialog class="category_dialog">
			<div class="dialog_container">
				<div class="dialog_header">
					<p class="dialog_title">카테고리 추가</p>
				</div>
				<div class="dialog_content">
					<div class="dialog_input_area">
						<label class="dialog_input_label required" for="title">카테고리 이름</label>
						<input type="text" name="title" class="dialog_input" />
					</div>
				</div>
				<div class="dialog_footer">
				   <button class="memo_btn cancel_btn" onclick="closeCategoryAddModal()">취소</button>
				   <button class="memo_btn ok_btn" onclick="closeCategoryAddModal()">확인</button>
				</div>
			</div>
		</dialog>
	</body>
	<script>
		const memoAddModal = document.querySelector('.memo_dialog');
		const categoryAddModal = document.querySelector('.category_dialog');
		function saveMemo(memoId) {
			alert('test' + memoId);
		}

		function openAddMemoModal() {
			memoAddModal.showModal();
		}

		function openAddCategoryModal() {
			categoryAddModal.showModal();
		}

		function closeAddMemoModal() {
			memoAddModal.close();
		}

		
		function closeCategoryAddModal() {
			categoryAddModal.close();
		}


		document.addEventListener('DOMContentLoaded', event => {
			const editableContent = document.querySelectorAll(
				'div[contenteditable="true"]'
			);

			editableContent.forEach(content => {
				content.addEventListener('click', () => {
					content.focus();
				});

				const debouncedFunc = debounce(() => {
					const memoId = content.parentElement.id;
					saveMemo(memoId);
				}, 700);

				content.addEventListener('input', event => {
					updatedMemoId = event.target.parentElement.id;
					debouncedFunc();
				});
			});
		});
	</script>
</html>
