<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
		<title>메모 관리</title>
	</head>
	<body>
		<div class="memo_wrap">
			<div class="memo_header">
				<h1>ADHD MEMO APP</h1>
			</div>
			<div class="memo_content_area">
				<div class="memo_left_side">
					<h2>메모 카테고리 선택</h2>
                    <!-- <button onclick="changeCategory();">카테고리 변경 버튼</button>
		            <div id="memo_list"></div> -->
				</div>
				<div class="memo_middle">
					<h2>메모 표시 영역</h2>
				</div>
				<div class="memo_right_side">
					<h2>메모 검색 영역</h2>
				</div>
			</div>
			<div class="memo_footer"></div>
		</div>
	</body>
</html>
