* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.memo_header {
    margin: 0 auto;
    padding: 25px 0 25px 20px;
    border-color: transparent;
    color: white;
    background-color: rgb(14, 231, 112);
}

.memo_content_area {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    min-height: 600px;
    margin-top: 10px;
}

.memo_left_side, .memo_middle_side, .memo_right_side {
    display: flex;
    flex: none;
    flex-basis: 0;
    margin: 0 10px;
    border: none;
}

.memo_left_side {
  display: inline-block;
  flex-grow: 1;
  text-align: left;
  min-width: 200px;
  background-color: #d69f07;
  padding: 8px;
  border-color: none;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.memo_middle {
  flex-grow: 4;
  padding: 0 25px;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: rgb(228, 225, 225);
  border-radius: 25px;
}

.memo_right_side {
  min-width: 239px; 
  flex-grow: 1;
}

.memo_btn {
  border-radius: 5px;
  font-size: 12px;
  padding: 10px;
  color: white;
  background-color:  rgb(14, 231, 112);
  border-color: transparent;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  
}

.memo_action_area {
  display: flex;
}
.memo_middle .memo_action_area .memo_btn {
  margin: 10px 5px 10px 0;
}

.memo_middle .memo_item_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.memo_left_side .memo_btn {
  margin: 10px 5px 5px 0;
}

.memo_btn .list_btn {
  border: none;

}

.memo_tree_area {
  overflow-y: scroll;
  text-align: right;
  border: none;
  margin-top: 5px;
  height: 520px;
}

/* Webkit 기반 브라우저 (Chrome, Safari) */
.memo_tree_area::-webkit-scrollbar {
  width: 10px; /* 세로 축 스크롤바 너비 */
}

.memo_tree_area::-webkit-scrollbar-track {
  background: #574a04; /* 스크롤바 트랙 배경색 */
}

.memo_tree_area::-webkit-scrollbar-thumb {
  background: #000000; /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 모서리 둥글게 */
  border-color: none; 
}

.memo_tree_area::-webkit-scrollbar-thumb:hover {
  background: #000000; /* 스크롤바 호버 색상 */
}

.memo_category_select_tree > li{
  list-style: none;
  cursor: pointer;
}

.memo_category_select_item_box {
  padding: 12px;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 10px;
  border-color: transparent;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color:  rgb(5, 85, 41);;
  color: white;
}


.memo_category_select_item_box:hover {
  background-color:  rgb(14, 231, 112);
}

.memo_item {
  display: block;
  width: 200px;
  height: 170px;
  margin: 20px;
  font-size: 10px;
  border: none;
}

div[contenteditable="true"] > div {
  border: none !important;
}

.memo_item > .memo_toolbar {
  display: flex;
  background-color: #640707;
  border-bottom: none;
  width: 200px;
  height: 28px;
}

.memo_input {
  overflow-y: scroll;
  height: 150px;
  padding: 10px;
  border-top-color: #f1f1f1;
  outline: none;
  background-color: #e5f054;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.memo_input::-webkit-scrollbar {
  width: 4px;
}

.memo_input::-webkit-scrollbar-track {
  background: none; /* 스크롤바 트랙 배경색 */
}

.memo_input::-webkit-scrollbar-thumb {
  background: #030303; /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 모서리 둥글게 */
}

