* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.memo_header {
    margin: 0 auto;
    padding: 25px 0 25px 20px;
    border-color: transparent;
    color: white;
    background-color: rgb(14, 231, 112);
}

.memo_content_area {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    min-height: 600px;
    margin-top: 10px;
}

.memo_left_side, .memo_middle_side, .memo_right_side {
    display: flex;
    flex-basis: 0;
    margin: 0 10px;
    border: none;
}

.memo_left_side {
  display: inline-block;
  flex-grow: 1;
  text-align: left;
  min-width: 200px;
  background-color: #d69f07;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.memo_middle {
  flex-grow: 4;
  padding: 0 25px;
  flex-wrap: wrap;
  overflow-y: scroll;
  background-color: rgb(228, 225, 225);
  border-radius: 25px;
}

.memo_right_side {
  display: flex;
  min-width: 239px;
  background-color: #b6b5b4; 
  flex-grow: 1;
}

.memo_action_area {
  display: flex;
}

.memo_middle .memo_item_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/** tree layout */
.memo_tree_area {
  overflow-y: scroll;
  text-align: right;
  margin-top: 5px;
  height: 520px;
}

/* Webkit 기반 브라우저 (Chrome, Safari) */
.memo_tree_area::-webkit-scrollbar {
  width: 10px; /* 세로 축 스크롤바 너비 */
}

.memo_tree_area::-webkit-scrollbar-track {
  background: #574a04; /* 스크롤바 트랙 배경색 */
}

.memo_tree_area::-webkit-scrollbar-thumb {
  background: #000000; /* 스크롤바 색상 */
  border-radius: 6px; /* 스크롤바 모서리 둥글게 */
  border-color: none; 
}

.memo_tree_area::-webkit-scrollbar-thumb:hover {
  background: #000000; /* 스크롤바 호버 색상 */
}

.memo_search_area {
  display: flex;
  position: relative;
  width: 100%;
  height: 75px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.memo_search_result_area {
  display: flex;
  overflow-y: scroll;
  height: 520px;
}

/** dialog layout */
.memo_dialog, .category_dialog{
  position: fixed;
  z-index: 1000;
  border-width: 0;
  margin: auto;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.1);
}
.dialog_container {
  border-color: transparent;
  outline: none;
  width: 500px;
  height: 300px;
}

.dialog_header {
  display: flex;
  background-color: #574a04;
  align-items: center;
  color: white;
  height: 40px;
}

.dialog_title {
  margin-left: 10px;
  font-weight: bold;
}

.dialog_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 210px;
}

.dialog_input_area {
  width: 100%;
  padding: 15px;
}

.dialog_footer {
  display: flex;
  justify-content: flex-end;
}


